body {
    background-color: dimgray;
    margin: 0;
    padding: 0;
}

p {
    font-family:'Gill Sans', 'Gill Sans MT',
     Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}
h1 {
    font-family:'Gill Sans', 'Gill Sans MT',
     Calibri, 'Trebuchet MS', sans-serif;
    font-size: xxx-large;
    margin-bottom: 0;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul {
    list-style-type: none;
}
.list {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Button for header */

.btn {
    color: #fff;
    font-family:'Gill Sans', 'Gill Sans MT',
     Calibri, 'Trebuchet MS', sans-serif;
    font-size: 26px;
    text-decoration: none;
    box-sizing: border-box;
    padding: 14px 10px;
    transition: .1s linear;
    display: block;
}

.btn:hover {
    color: floralwhite;
    background-color:rgb(199, 74, 16);
}


/* Navigation parametrs */

.navBar {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: darkorange;
}

/* Hovers */

nav ul ul {
    display: none;
    padding: 0;
}
.navBar ul li:hover > ul {
    display: block;
    position:absolute;
    top: 60px;
    left: 185px;
    background-color: darkorange;
    list-style-type: none;
}
/* .navBar ul li ul li {
    position: relative;
    left: -20px;
} */