body {
    background-color: dimgray;
    margin: 0;
    padding: 0;
}


/* Header */

.header {
    height: 60px;
    width: 100%;
    background-color: darkorange;
}


/* Button for header */

.btn {
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
    text-decoration: none;
    box-sizing: border-box;
    padding: 15px 10px;
    transition: .1s linear;
    border: 2px solid darkorange;
}

.btn:hover {
    color: floralwhite;
    border-color: whitesmoke;
}


/* Navigation parametrs */

.navBar {
    height: 100%;
    width: 100%;
    list-style-type: none;
    display: flex;
    align-items: center;
}


/* Tier 2 dropdown menu */

.dropMenu1 {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    line-height: 42px;
}

#serv {
    position: absolute;
    left: 217px;
    top: 71px;
}

#about {
    position: absolute;
    left: 337px;
    top: 71px;
}

.dropMenu1 li {
    display: none;
    position: relative;
    top: 10px;
}


/* Tier 2 parametrs */

.tierTwo {
    display: none;
    text-decoration: none;
    color: white;
    padding: 0;
    box-sizing: border-box;
    display: block;
    margin-bottom: 15px;
}

.header .navBar li:hover li,
.dropMenu1 {
    display: block;
    background-color: darkorange;
}


/* Tier 3 dropdown menu */

.dropMenu2 {
    display: none;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    line-height: 42px;
}

nav ul ul ul li {
    position: relative;
    top: -60px;
    left: 170px;
}


/* .dropMenu2 li {
    display: none;
    position: relative;
    top: 30px;
    left: 500px;
} */