.header {
    height: 60px;
    width: 100%;
    background-color: darkorange;
}

body {
    background-color: dimgray;
    margin: 0;
    padding: 0;
}

.btn {
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
    text-decoration: none;
    box-sizing: border-box;
    padding: 15px 10px;
    transition: .1s linear;
    border: 2px solid darkorange;
}

.btn:hover {
    opacity: 1;
    color: floralwhite;
    border-color: whitesmoke;
}

.navBar {
    height: 100%;
    width: 100%;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.dropMenu1 {
    padding: 0;
    position: absolute;
    left: 180px;
    top: 50px;
    list-style-type: none;
}

.navBar li {
    display: none;
    text-decoration: none;
    color: white;
    margin-bottom: 32px;
    padding: 0;
    margin-top: 15px;
    min-width: 110px;
    min-height: 10px;
    box-sizing: border-box;
}

.navBar:hover>.dropMenu1 {
    display: block;
    background-color: darkorange;
}

.navBar:hover>.dropMenu1>li {
    display: block;
    background-color: darkorange;
}